html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fcfcfc;

  margin: auto;
}
.app-wrapper {
  margin: auto;
  max-width: 1152px;
  padding-top: 1rem;
  border: 1px solid grey;
}
.body-wrapper {
  margin: 1rem;
}
h4 {
  color: grey;
}
